<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
    <br/>
    <label for="surname">First name</label>
    <input type="text" th:field = "*{surname}" id="surname" placeholder="First name">
    <label for="name">First name</label>
    <input type="text" th:field = "*{name}" id="name" placeholder="Name">
    <label for="lastName">First name</label>
    <input type="text" th:field = "*{lastName}" id="lastName" placeholder="Last name">
    <label for="jobTitle">First name</label>
    <input type="text" th:field = "*{jobTitle}" id="jobTitle" placeholder="Job Title">
    <input type="submit" value="Update User">
</form>
</body>
</html>
